<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Email List</title>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Lista indirizzi e-mail</h1>
      <p v-if="isLoading">Creazione lista indirizzi in corso...</p>
      <ol v-if="!isLoading">
        <li v-for="(emails, index) in emailsArray">{{emailsArray[index]}}</li>
      </ol>
    </div>

    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
      integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Custom script -->
    <script src="./js/script.js"></script>
  </body>
</html>
